// 初期化
html{
    scroll-behavior: smooth;
}
body{
    margin: 0;
    padding: 0;
}

li{
    list-style: none;
}

a{
    text-decoration:none;
    color: black;
}

a:hover{
    color: white;
   
}



.world{
    width: 100%;
    height: 100%;
}

.world-wrapper{
    margin: 0 auto;
}

//アニメーション
//(keyframesを使うときは必ずdurationを設定しないといけない）
@keyframes showUp {
    0%{
        opacity: 0;
    }
    30%{
        opacity: 0.6;
    }
    100%{
        opacity: 0.1;
    }
}

@keyframes bigger {
    0%{
        
       transform: scale(1);
    }
    
    20%{
        transform: scale(2);
    }
    90%{
        
        transform: scale(5);
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

@keyframes rotate {
    80%{
        transform: rotate(45deg);
    }
    100%{
        transform: rotate(0deg);
    }
}



// ヘッダー
.header{
    width: 100%;
    height: 10vh;
    margin: 0 auto;
    background-color: #94A5A4;
    display: flex;
    position: relative;

    & .logo{
        width: 50%;
        margin: 0 2%;
        position: relative;
        //border: #4b606b 2px solid;
      
        // & img{
        //     margin: 0 10%;
        //     width: 80%;
        //     height: 80%;
        //     position: absolute;
        //     top: 15%;
        // }

        &:hover{
            // position: absolute;

            & img{
                animation:bigger;
                animation-duration: 5s;
                animation-iteration-count: 1;
            }
            

        }

        
        

        & img{
            margin: 0 auto;
            padding: 0 5%;
            /* width: 80%; */
            height: 80%;
            position: absolute;
            top: 20%;
            left: 16%;
            transform: scale(4);
            //transform: rotate(90deg);
        }
    }

    & .menus{
        justify-items: center;
        width: 80%;
        display: none;
        
        & .menu-list{
            margin: 0;
            height: 100%;
            display: flex;
            justify-content: space-around;
            align-items: center;
            
            & li{
                border-right: black 2px;
            }
        }
    }

    & .menu-bar-wrapper{
        position: relative;
        width:100% ;
        height: 10vh;
        right: 0;

        & .menu-bar{
            right: 0;
            top: 15%;
            position: absolute;
            padding-right: 10%;
            
            & span{
                background-color: black;
                height: 3px;
                width: 30px;
                margin:10px 0;
                display: block;
                border-radius: 15%;
            }
        }
    }
}



// ブロック１
.block1{
    margin: 0 auto;
    width: 100%;
    height: 60vh; //ヘッダーが10vhだから
    position: relative;
    
    &_wrapper{
        height: 85%;
        background-color: white;

        &_background{
            margin: 0 auto;
            width: 100%;
            height: 100%;

            & .block1_title{
                width: 100%;
                height: 100%;

                &:hover{
                    & img{
                    animation: rotate;
                    animation-duration: 3s;
                    }
                }

                & img{
                    width: 30%;
                    position: absolute;
                    top: 40%;
                    
                }
            }
        }
    }
}

// ブロック２
.block2{
    //height: 100vh;
    padding: 3% 0;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    font-size: 0;

    &_wrapper{
        & .block2_container{
            margin: 0 auto;
            width: 60%;
            overflow: hidden;
            cursor: pointer;
            position: relative;
    
            &:hover{
                & .cover{
                    display: block;
                    background: black;
                    opacity: 0.1;
                    box-shadow: rgba($color: #000000, $alpha: 1.0);
                    animation: showUp;
                    animation-duration: 1s;

                }
                & p{
                    display: block;
                    opacity: 1;
                    font-size: 14px;
                    font-style: oblique;
                    // animation: showUp;
                    // animation-duration: 1s;
                }
            }
            
            & img{
                width: 100%;
            }
            & .cover{
                display: none;
                width: 100%;
                height: 100%;
                position: absolute;
                top: 0;
                left: 0;
                background: black;
                opacity: 0.1;                 
            }
            & p{
                display: none;
                position: absolute;
                font-size: 25px;
                top: 30%;
                left: 4%;
                color: white;
            }
        }
    }

}

// ブロック3
.block3{
    //height: 100vh;
    padding: 3% 0;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    font-size: 0;

    &_wrapper{
        & .block3_container{
            margin: 0 auto;
            width: 60%;
            overflow: hidden;
            cursor: pointer;
            position: relative;
    
            &:hover{
                & .cover{
                    display: block;
                    background: black;
                    opacity: 0.1;
                    box-shadow: rgba($color: #000000, $alpha: 1.0);
                    animation: showUp;
                    animation-duration: 1s;

                }
                & p{
                    display: block;
                    opacity: 1;
                    font-size: 14px;
                    font-style: oblique;
                    // animation: showUp;
                    // animation-duration: 1s;
                }
            }
            
            & img{
                width: 100%;
            }
            & .cover{
                display: none;
                width: 100%;
                height: 100%;
                position: absolute;
                top: 0;
                left: 0;
                background: black;
                opacity: 0.1;                 
            }
            & p{
                display: none;
                position: absolute;
                font-size: 25px;
                top: 30%;
                left: 4%;
                color: white;
            }
        }
    }

}


// ブロック4
.block4{
    //height: 100vh;
    padding: 3% 0;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    font-size: 0;

    &_wrapper{
        & .block4_container{
            margin: 0 auto;
            width: 60%;
            overflow: hidden;
            cursor: pointer;
            position: relative;
    
            &:hover{
                & .cover{
                    display: block;
                    background: black;
                    opacity: 0.1;
                    box-shadow: rgba($color: #000000, $alpha: 1.0);
                    animation: showUp;
                    animation-duration: 1s;

                }
                & p{
                    display: block;
                    opacity: 1;
                    font-size: 14px;
                    font-style: oblique;
                    // animation: showUp;
                    // animation-duration: 1s;
                }
            }
            
            & img{
                width: 100%;
            }
            & .cover{
                display: none;
                width: 100%;
                height: 100%;
                position: absolute;
                top: 0;
                left: 0;
                background: black;
                opacity: 0.1;                 
            }
            & p{
                display: none;
                position: absolute;
                font-size: 25px;
                top: 30%;
                left: 4%;
                color: white;
            }
        }
    }

}

// ブロック５
.block5{
    //height: 100vh;
    padding: 3% 0;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    font-size: 0;

    &_wrapper{
        & .block5_container{
            margin: 0 auto;
            width: 60%;
            overflow: hidden;
            cursor: pointer;
            position: relative;
    
            &:hover{
                & .cover{
                    display: block;
                    background: black;
                    opacity: 0.1;
                    box-shadow: rgba($color: #000000, $alpha: 1.0);
                    animation: showUp;
                    animation-duration: 1s;

                }
                & p{
                    display: block;
                    opacity: 1;
                    font-size: 14px;
                    font-style: oblique;
                    // animation: showUp;
                    // animation-duration: 1s;
                }
            }
            
            & img{
                width: 100%;
            }
            & .cover{
                display: none;
                width: 100%;
                height: 100%;
                position: absolute;
                top: 0;
                left: 0;
                background: black;
                opacity: 0.1;                 
            }
            & p{
                display: none;
                position: absolute;
                font-size: 25px;
                top: 30%;
                left: 4%;
                color: white;
            }
        }
    }

}

//ブロック６
.block6{
    //height: 100vh;
    padding: 3% 0;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    font-size: 0;

    &_wrapper{
        & .block6_container{
            margin: 0 auto;
            width: 60%;
            overflow: hidden;
            cursor: pointer;
            position: relative;
    
            &:hover{
                & .cover{
                    display: block;
                    background: black;
                    opacity: 0.1;
                    box-shadow: rgba($color: #000000, $alpha: 1.0);
                    animation: showUp;
                    animation-duration: 1s;

                }
                & p{
                    display: block;
                    opacity: 1;
                    font-size: 14px;
                    font-style: oblique;
                    // animation: showUp;
                    // animation-duration: 1s;
                }
            }
            
            & img{
                width: 100%;
            }
            & .cover{
                display: none;
                width: 100%;
                height: 100%;
                position: absolute;
                top: 0;
                left: 0;
                background: black;
                opacity: 0.1;                 
            }
            & p{
                display: none;
                position: absolute;
                font-size: 25px;
                top: 30%;
                left: 4%;
                color: white;
            }
        }
    }

}

//ブロック７
.block7{
    //height: 100vh;
    padding: 3% 0;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    font-size: 0;

    &_wrapper{
        & .block7_container{
            margin: 0 auto;
            width: 60%;
            overflow: hidden;
            cursor: pointer;
            position: relative;
    
            &:hover{
                & .cover{
                    display: block;
                    background: black;
                    opacity: 0.1;
                    box-shadow: rgba($color: #000000, $alpha: 1.0);
                    animation: showUp;
                    animation-duration: 1s;

                }
                & p{
                    display: block;
                    opacity: 1;
                    font-size: 14px;
                    font-style: oblique;
                    // animation: showUp;
                    // animation-duration: 1s;
                }
            }
            
            & img{
                width: 100%;
            }
            & .cover{
                display: none;
                width: 100%;
                height: 100%;
                position: absolute;
                top: 0;
                left: 0;
                background: black;
                opacity: 0.1;                 
            }
            & p{
                display: none;
                position: absolute;
                font-size: 25px;
                top: 30%;
                left: 4%;
                color: white;
            }
        }
    }

}

//ブロック８
.block8{
    //height: 100vh;
    padding: 3% 0;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    font-size: 0;

    &_wrapper{
        & .block8_container{
            margin: 0 auto;
            width: 60%;
            overflow: hidden;
            cursor: pointer;
            position: relative;
    
            &:hover{
                & .cover{
                    display: block;
                    background: black;
                    opacity: 0.1;
                    box-shadow: rgba($color: #000000, $alpha: 1.0);
                    animation: showUp;
                    animation-duration: 1s;

                }
                & p{
                    display: block;
                    opacity: 1;
                    font-size: 14px;
                    font-style: oblique;
                    // animation: showUp;
                    // animation-duration: 1s;
                }
            }
            
            & img{
                width: 100%;
            }
            & .cover{
                display: none;
                width: 100%;
                height: 100%;
                position: absolute;
                top: 0;
                left: 0;
                background: black;
                opacity: 0.1;                 
            }
            & p{
                display: none;
                position: absolute;
                font-size: 25px;
                top: 30%;
                left: 4%;
                color: white;
            }
        }
    }

}







// レスポンシブ
@media screen and (max-width: 481px) {
    //max-width スマホ
    .header .logo img {
        left: 51%;
    }
    .block1 {
        height: 18vh;
    }

    //各ブロックの画像サイズの調整
    .block2_wrapper .block2_container {
        width: 89%;
    }
    .block3wrapper .block3container {
        width: 89%;
    }
    .block3_wrapper .block3_container {
        width: 89%;
    }
    .block4_wrapper .block4_container {
        width: 89%;
    }
    .block5_wrapper .block5_container {
        width: 89%;
    }
    .block6_wrapper .block6_container {
        width: 89%;
    }
    .block7_wrapper .block7_container {
        width: 89%;
    }
    .block8_wrapper .block8_container {
        width: 89%;
    }
}

@media screen and (min-width: 601px) {
    
   .header .menus{
       display: block;
   }
   .header .menu-bar-wrapper{
       display: none;
   }

}

@media screen and (min-width: 961px) {

    .header .logo{
        border-bottom: #4b606b 5px solid;
        width: 260px;
    }
  
}

@media screen and (min-width: 1280px) {
  
}
/*# sourceMappingURL=style.css.map */